<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">

    <title><%= config.title %></title>

    <link rel="manifest" href="/manifest.webmanifest">
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/c9e29dd1-fb3c-4230-b1c2-cac3e9f45fc2.css"/>
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SomeBoilerplate">
    <link rel="apple-touch-icon" href="icon-152x152.png">
    <meta name="msapplication-TileImage" content="icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= config.googleTagManager.id %>');</script>
  </head>
  <body>
    <div id="root"></div>
    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.trackingID) { _%>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= config.googleTagManager.id %>"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
